---
import { Image } from "astro:assets"
import JS from "../assets/img/framework-logos/Javascript.jpg"
import TS from "../assets/img/framework-logos/Typescript.jpg"
import WP from "../assets/img/framework-logos/WordPress.jpg"
import Vue from "../assets/img/framework-logos/Vue.jpg"
import React from "../assets/img/framework-logos/React.jpg"
import Vite from "../assets/img/framework-logos/Vite.jpg"
import Three from "../assets/img/framework-logos/Three.jpg"
import Tailwind from "../assets/img/framework-logos/Tailwind.jpg"
import PS from "../assets/img/framework-logos/PS.jpg"
import Prisma from "../assets/img/framework-logos/Prisma.jpg"
import Postgres from "../assets/img/framework-logos/Postgres.jpg"
import PHP from "../assets/img/framework-logos/PHP.jpg"
import Next from "../assets/img/framework-logos/NextJS.jpg"
import Nest from "../assets/img/framework-logos/NestJS.jpg"
import Mongo from "../assets/img/framework-logos/Mongo.jpg"
import GSAP from "../assets/img/framework-logos/GSAP.jpg"
import GraphQL from "../assets/img/framework-logos/GraphQL.jpg"
import Firebase from "../assets/img/framework-logos/Firebase.jpg"
import Electron from "../assets/img/framework-logos/Electron.jpg"
import C4D from "../assets/img/framework-logos/C4D.jpg"
import AWS from "../assets/img/framework-logos/AWS.jpg"
import Apollo from "../assets/img/framework-logos/Apollo.jpg"
import AI from "../assets/img/framework-logos/AI.jpg"
import AE from "../assets/img/framework-logos/AE.jpg"
import AstroLogo from "../assets/img/framework-logos/Astro.jpg"
import Figma from "../assets/img/framework-logos/Figma.jpg"
import Nuxt from "../assets/img/framework-logos/Nuxt.jpg"
import Express from "../assets/img/framework-logos/Express.jpg"
import CSS from "../assets/img/framework-logos/CSS-logo.jpg"
import Rive from "../assets/img/framework-logos/Rive.jpg"
---

<section class="marquee-wall">
  <div class="marquee-container">
    <!-- Marquee Row 1 -->
    <div class="home-logo-wrapper">
      <div class="the-row original">
        <div class="clients-grid animate-slide">
          <Image src={JS} alt="JavaScript Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={TS} alt="TypeScript Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={PHP} alt="PHP Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Next} alt="Next.js Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Nuxt} alt="Nuxt.js Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={AstroLogo} alt="Astro Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
      <div class="the-row clone">
        <div class="clients-grid animate-slide">
          <Image src={JS} alt="JavaScript Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={TS} alt="TypeScript Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={PHP} alt="PHP Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={CSS} alt="CSS Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Mongo} alt="MongoDB Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Postgres} alt="PostgreSQL Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
    </div>
    <!-- Marquee Row 2 -->
    <div class="home-logo-wrapper reverse">
      <div class="the-row original">
        <div class="clients-grid animate-slide-alt">
          <Image src={Tailwind} alt="Tailwind CSS Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={GSAP} alt="GSAP Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={React} alt="React Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Vue} alt="Vue.js Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Electron} alt="Electron Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Three} alt="Three.js Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
      <div class="the-row clone">
        <div class="clients-grid animate-slide-alt">
          <Image src={Tailwind} alt="Tailwind CSS Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={GSAP} alt="GSAP Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={React} alt="React Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Vue} alt="Vue.js Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Electron} alt="Electron Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Three} alt="Three.js Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
    </div>
  </div>
  <div class="marquee-container">
    <!-- Marquee Row 1 -->
    <div class="home-logo-wrapper">
      <div class="the-row original">
        <div class="clients-grid animate-slide">
          <Image src={AE} alt="Adobe After Effects Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={PS} alt="Photoshop Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={AI} alt="Adobe Illustrator Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={C4D} alt="Cinema 4D Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Figma} alt="Figma Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Rive} alt="Rive Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
      <div class="the-row clone">
        <div class="clients-grid animate-slide">
          <Image src={AE} alt="Adobe After Effects Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={PS} alt="Photoshop Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={AI} alt="Adobe Illustrator Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={C4D} alt="Cinema 4D Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Figma} alt="Figma Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Rive} alt="Rive Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
    </div>
    <!-- Marquee Row 2 -->
    <div class="home-logo-wrapper reverse">
      <div class="the-row original">
        <div class="clients-grid animate-slide-alt">
          <Image src={AWS} alt="AWS Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Firebase} alt="Firebase Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={GraphQL} alt="GraphQL Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Prisma} alt="Prisma Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Apollo} alt="Apollo Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Nest} alt="NestJS Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
      <div class="the-row clone">
        <div class="clients-grid animate-slide-alt">
          <Image src={AWS} alt="AWS Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Firebase} alt="Firebase Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={GraphQL} alt="GraphQL Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Prisma} alt="Prisma Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Apollo} alt="Apollo Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Nest} alt="NestJS Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
    </div>
  </div>
    <div class="marquee-container">
    <!-- Marquee Row 1 -->
    <div class="home-logo-wrapper">
      <div class="the-row original">
        <div class="clients-grid animate-slide">
          <Image src={Vite} alt="Vite Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Mongo} alt="MongoDB Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Postgres} alt="PostgreSQL Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={WP} alt="WordPress Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Nuxt} alt="Nuxt.js Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Express} alt="Express Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
      <div class="the-row clone">
        <div class="clients-grid animate-slide">
          <Image src={Vite} alt="Vite Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Mongo} alt="MongoDB Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Postgres} alt="PostgreSQL Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={WP} alt="WordPress Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Nuxt} alt="Nuxt.js Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide">
          <Image src={Express} alt="Express Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
    </div>
    <!-- Marquee Row 2 -->
    <div class="home-logo-wrapper reverse">
      <div class="the-row original">
        <div class="clients-grid animate-slide-alt">
          <Image src={Tailwind} alt="Tailwind CSS Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={GSAP} alt="GSAP Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={React} alt="React Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Vue} alt="Vue.js Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Electron} alt="Electron Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Three} alt="Three.js Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
      <div class="the-row clone">
        <div class="clients-grid animate-slide-alt">
          <Image src={Tailwind} alt="Tailwind CSS Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={GSAP} alt="GSAP Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={React} alt="React Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Vue} alt="Vue.js Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Electron} alt="Electron Logo" class="framework-logo" loading="eager" />
        </div>
        <div class="clients-grid animate-slide-alt">
          <Image src={Three} alt="Three.js Logo" class="framework-logo" loading="eager" />
        </div>
      </div>
    </div>
  </div>
  
</section>

<style>
  @reference '../styles/global.css';
  section.marquee-wall {
    .marquee-container {
      @apply relative overflow-hidden mt-4;

      &:not(:first-child) {
        @apply mt-4;
      }
      .home-logo-wrapper {
        @apply relative flex gap-x-2 items-center justify-center w-full h-24;

        &.reverse {
          @apply mt-4;
        }

        .the-row {
          @apply flex items-center justify-between w-full;

          &.original {
            @apply absolute left-0 top-0 flex gap-x-2 items-center justify-center w-[220%];
          }

          &.clone {
            @apply absolute left-0 top-0 flex gap-x-2 items-center justify-center w-[200%];
            transform: translateX(100%);
          }

          .clients-grid {
            @apply flex gap-12 w-24 h-24 p-2 bg-white rounded-lg;

            .framework-logo {
              @apply h-full w-full object-contain object-center;
            }

            &.animate-slide {
              animation: slide 15s linear infinite;
            }

            &.animate-slide-alt {
              animation: slidealt 15s linear infinite reverse;
            }
          }
        }
      }
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(calc(0% - 50px));
    }
    100% {
      transform: translateX(-700%);
    }
  }

  @keyframes slidealt {
    0% {
      transform: translateX(calc(0% - 50px));
    }
    100% {
      transform: translateX(-700%);
    }
  }
</style>
