---
import { Image } from "astro:assets"
import type { Achievement } from "./types"

const {
  title,
  title2,
  description,
  date,
  siteURL,
  achievements,
  assets,
  index,
  transparency,
} = Astro.props

const mappedAssets = assets.map(
  (asset: { src?: string; videoSrc?: string; alt: string }) => {
    if (asset.videoSrc) {
      return {
        ...asset,
        videoSrc: `/portfolio${asset.videoSrc}`,
      }
    }
    return asset
  }
)

const topAssets = mappedAssets.slice(0, 2)
const bottomAssets = mappedAssets.slice(2, 4)
---

<div class={index === 0 ? "slide slide--current" : "slide"}>
  <div class="slide__content">
    <div class="left-side">
      <div class="overview">
        <p
          class="slide__description backdrop-blur-xs bg-slate-900/10 p-4 rounded-xl"
        >
          {description}
        </p>
      </div>
      <div class="highlights">
        <p class="text-xl mb-4">Highlights:</p>
        {
          achievements && achievements.length > 0 && (
            <ul
              class={
                achievements.length > 3
                  ? "slide__achievements columns-2"
                  : "slide__achievements"
              }
            >
              {achievements.map((achievement: Achievement) => (
                <li class="slide__achievement mb-0 lg:mb-4">
                  {achievement.URL ? (
                    <a
                      href={achievement.URL}
                      target="_blank"
                      class="slide__link hoverable line-clamp-1 w-fit bg-transparent hover:bg-orange-500 border border-solid border-white hover:border-orange-500 text-white px-2 py-1 mt-2 rounded-full transition-colors ease-in-out duration-300"
                    >
                      {" "}
                      {achievement.achievement}{" "}
                    </a>
                  ) : (
                    <span class="slide__link"> {achievement.achievement} </span>
                  )}
                </li>
              ))}
            </ul>
          )
        }
      </div>
    </div>
    <div class="right-side">
      <div class="slide__date">
        <p class="slide__date-text text-xl">Project date</p>
        <p>{date}</p>
      </div>
      <a href={siteURL} target="_blank" class="slide__link text-xl">
        Visit Project
      </a>
    </div>
  </div>
  <div class="slide__img-wrap">
    {
      topAssets &&
        topAssets.length > 0 &&
        topAssets.map(
          (
            asset: { src: any; alt: string; videoSrc: string },
            index: number
          ) =>
            asset.src ? (
              <Image
                class={`slide__img slide__img--${index + 1} ${transparency ? "fully-visible" : ""}`}
                src={asset.src}
                alt={asset.alt}
              />
            ) : (
              asset.videoSrc && (
                <video
                  preload="none"
                  autoplay
                  loop
                  muted
                  playsinline
                  class={`slide__img slide__img--${index + 1} ${transparency ? "fully-visible" : ""}`}
                >
                  <source src={asset.videoSrc} />
                </video>
              )
            )
        )
    }
    <div class="break"></div>
    {
      bottomAssets &&
        bottomAssets.length > 0 &&
        bottomAssets.map(
          (
            asset: { src: any; alt: string; videoSrc: string },
            index: number
          ) =>
            asset.src ? (
              <Image
                class={`slide__img slide__img--${index + 3} ${transparency ? "fully-visible" : ""}`}
                src={asset.src}
                alt={asset.alt}
              />
            ) : (
              asset.videoSrc && (
                <video
                  preload="none"
                  autoplay
                  loop
                  muted
                  playsinline
                  class={`slide__img slide__img--${index + 3} ${transparency ? "fully-visible" : ""}`}
                >
                  <source src={asset.videoSrc} />
                </video>
              )
            )
        )
    }
  </div>
  <h2 class="slide__title">
    <span class="slide__title-inner" data-splitting>{title}</span>
    {
      title2 && (
        <span class="slide__title-inner" data-splitting>
          {title2}
        </span>
      )
    }
  </h2>
</div>

<style>
  @reference "../styles/global.css";
  .slide {
    @apply relative flex items-center justify-center w-full h-full mx-auto opacity-0 pointer-events-none [grid-area:1/1/2/2];
    .slide__content {
      @apply absolute top-0 left-0 w-full h-full flex flex-row justify-between p-4 pt-0 lg:pt-16 lg:p-10 text-white z-20;
      .left-side {
        @apply flex flex-col justify-between mb-8 w-full lg:w-fit;
        .overview {
          @apply mb-4;
          .slide__description {
            @apply text-lg lg:text-xl max-w-[600px] leading-snug lg:leading-relaxed;
          }
        }
        .highlights {
          @apply mt-4;
          .slide__achievements {
            @apply list-disc pl-6;
            .slide__achievement {
              @apply mb-0.5 lg:mb-2 text-sm lg:text-base;
            }
          }
        }
      }
      .right-side {
        @apply hidden lg:flex flex-col justify-between;
        .slide__date {
          @apply text-sm lg:text-base mb-2;
        }
        .slide__link {
          @apply text-orange-300 hover:text-white transition-colors;
          &:hover {
            @apply underline;
          }
        }
      }
    }
    &.slide--current {
      @apply opacity-100 pointer-events-auto;
    }
    .slide__img-wrap {
      @apply flex flex-wrap items-center justify-center self-center content-center min-w-[790px] w-full h-[calc(100%-6rem)] rotate-[-22.5deg] origin-center;
      .slide__img {
        @apply opacity-40 flex-none block bg-cover bg-center h-[calc(50%-1.5rem)] object-cover;
        &.fully-visible {
          @apply !opacity-80;
        }

        &.slide__img--1,
        &.slide__img--4 {
          @apply h-[calc(50%+3rem)];
          @apply w-[25%];
        }

        &.slide__img--1,
        &.slide__img--3 {
          @apply mr-6;
        }

        &.slide__img--1,
        &.slide__img--2 {
          @apply mb-6;
        }

        &.slide__img--2 {
          @apply self-end;
          @apply w-[42%];
        }

        &.slide__img--3 {
          @apply self-start;
          @apply w-[42%];
        }
      }
      .break {
        @apply basis-full h-0;
      }
    }
    .slide__title {
      @apply absolute text-white top-0 left-0 w-full h-full text-[clamp(2rem,10vw,8rem)] font-normal uppercase text-center leading-none flex flex-col items-center justify-center select-none;
      .slide__title-inner {
        @apply relative overflow-hidden;
        &:span {
          @apply relative;
        }
        &.slide__title-inner--middle {
          @apply text-[2.5rem] font-light normal-case block;
        }
      }
    }
  }
</style>
