---
import "../styles/global.css"
import Logo from "../assets/img/logo.svg?url"
import pretendard200 from "@fontsource/pretendard/files/pretendard-latin-200-normal.woff2?url"
import pretendard400 from "@fontsource/pretendard/files/pretendard-latin-400-normal.woff2?url"
import pretendard500 from "@fontsource/pretendard/files/pretendard-latin-500-normal.woff2?url"
import pretendard700 from "@fontsource/pretendard/files/pretendard-latin-700-normal.woff2?url"
import pretendard900 from "@fontsource/pretendard/files/pretendard-latin-900-normal.woff2?url"
import { ClientRouter } from "astro:transitions"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Intro from "../components/Intro.astro"
import Mouse from "../components/Mouse.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <ClientRouter />
    <link rel="icon" type="image/svg+xml" href={Logo} />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" href={pretendard200} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={pretendard400} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={pretendard500} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={pretendard700} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={pretendard900} as="font" type="font/woff2" crossorigin />
    <title>Gustavo Gomez - Full Stack Developer</title>
  </head>
  <body>
		<Mouse />
    <div id="smooth-wrapper" class="site-wrapper">
      <div id="smooth-content" class="site-container">
        <Intro />
        <Header />
        <slot />
        <Footer />
      </div>
    </div>
    </div>
  </body>
</html>

<script>
import { initSmoothScrolling } from "../scripts/smoothScroll.ts"

initSmoothScrolling()
</script>

<style>
  body {
    overflow: hidden;
  }
</style>
